*{
    box-sizing: border-box;
    margin: 0%;
}
body{
  overflow-y: hidden;
  overflow-x: hidden;
  
}

header{
background-color: black;
width: 100%;
height: 14vh;
padding:20px 30px 20px 30px;


} 
.logo{
    width: 22vw;
    height: 10vh;
margin-left: 38%;

}

.um{
    background-image: url("https://s0.smartresize.com/wallpaper/26/594/HD-wallpaper-one-piece-anime-pirate-ship.jpg");
    float: left;
    margin-left: 0%;
    padding-top: 0%;
    width: 26vw;
    height: 100vh;
    display: block;
    min-height: 360px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cartaz{
background-image: url("fundo.png");
width: 48vw;
height: 100vh;
margin-left: 26%;
position: absolute;
overflow-y: scroll;
scroll-behavior: smooth;
display: block;
padding: 30px 60px 100px 60px;
text-align: justify;

}
.carrossel{
  
  overflow: hidden;
  width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: 15%;
    margin: 20px 20px 20px 130px;
}
.conteiner{
  display: flex;
  transition: transform 0.5s ease-in-out  ;
  transform: translateX(0);
}
img{
  object-fit:cover;
  width: 200px;
    height: 200px;
   
}

scroll-container {
    display: block;
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  /* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(167, 167, 167); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(207, 174, 83); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #790b0b; 
  }


.dois{
   background-image: url("https://wallpapers.com/images/hd/one-piece-art-iphone-6cakwu3a3exyh3p3.jpg");
   float: right;
   width: 26vw;
   height: 100vh;
   display: block;
   min-height: 360px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

h1{
    font-family:'Courier New ', Courier, monospace, ;
}
li{
 margin: 10px;
}
b{
    margin-left: 20px;
   
}
.dias{
  align-items: center;
  justify-content: center;
  margin: 20px 10px 20px 10px;
}

 
  
 